@font-face {
    font-family: "Gotham-Book";
    font-style: normal;
    font-weight: normal;
    src: local('Gotham-Book'),
    url(../fonts/GothamBook.woff) format('woff');
}
@font-face {
    font-family: "Gotham-Bold";
    font-style: normal;
    font-weight: normal;
    src: local('Gotham-Bold'),
    url(../fonts/gothambold1.woff) format('woff');
}
@font-face {
    font-family: "Gotham-Medium";
    font-style: normal;
    font-weight: normal;
    src: local('Gotham-Medium'),
    url(../fonts/gotham-medium-webfont.woff) format('woff');
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    src: local('Open Sans'),
    url(../fonts/OpenSans-Regular.ttf) format('truetype');
}
